.ipynb_checkpoints/
.idea/
Week1/lake_points.shp.DESKTOP-G304N27.1644.8260.sr.lock
Week1/lake_points.shp.DESKTOP-G304N27.16772.8260.sr.lock
Week1/lake_points.shp.DESKTOP-G304N27.25940.8260.sr.lock
Week1/lake_points.shp.DESKTOP-G304N27.7540.8260.sr.lock
Week1/lake_points_km.shp.DESKTOP-G304N27.1644.8260.sr.lock
Week1/lake_points_km.shp.DESKTOP-G304N27.16772.8260.sr.lock
Week1/lake_points_km.shp.DESKTOP-G304N27.25940.8260.sr.lock
